.map__click-women-sports {
    position: absolute;
    top: 68%;
    left: 85%;
}

@media screen and (max-width: 1600px) and (max-height: 1200px) {
    .map__click-women-sports {
        left: 94%;
    }
}

@media screen and (max-width: 1600px) and (max-height: 1024px) {
    .map__click-women-sports {
        left: 88%;
    }
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    .map__click-women-sports {
        left: 83%;
    }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
    .map__click-women-sports {
        left: 89%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
    .map__click-women-sports {
        left: 96%;
    }
}

@media screen and (max-width: 1280px) and (max-height: 768px) {
    .map__click-women-sports {
        left: 87%;
    }
}